.footer {
  display: block;
  overflow: hidden;

  &-container {
    width: 100%;
    display: grid;
    height: 100%;
    min-height: desktop-vw(100px);
    position: relative;
    padding: desktop-vw(20px) 0;
    margin-top: desktop-vw(50px);

    @media screen and (max-width: 430px) {
      padding-bottom: mobile-vw(150px);
    }
  }

  &-pill {
    display: flex;
    flex-direction: column;
    gap: desktop-vw(20px);
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 430px) {
      bottom: mobile-vw(50px);
    }
  }

  &-links {
    font-family: 'AP Type Mono';
    max-height: desktop-vw(28px);
    height: 100%;
    // max-width: desktop-vw(440px);
    gap: desktop-vw(16px);
    // width: 100%;
    border-radius: 50px;
    padding: desktop-vw(5px) desktop-vw(24px);
    font-size: desktop-vw(13px);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $gray;
    box-shadow: 0 0 4px #00000040;

    @media screen and (max-width: 430px) {
      flex-wrap: wrap;
      font-size: mobile-vw(13px);
      padding: mobile-vw(5px) mobile-vw(24px);
      max-height: none;
      gap: mobile-vw(16px);
    }

    a {
      text-decoration: none;
    }
  }

  &-link {
    color: $black;
  }

  &-info-container {
    height: 100%;
    position: relative;
    min-height: desktop-vw(100px);
  }
}
