.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: desktop-vw(24px);
    line-height: desktop-vw(26.4px);
    max-width: 100%;
  }

  &-body {
    max-width: desktop-vw(685px);
  }
  // @include minWidth(desktop) {
  //   display: grid;
  //   grid-template-columns: 220px auto;
  //   grid-gap: 30px;
  // }

  // &__body {
  //   max-width: 40em;
  //   grid-column: 2 / span 1;
  // }
}
