*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --main-text-color: #000000;
  --main-background-color: #ffffff;
}

body {
  background-color: var(--primary_background_color);
  color: var(--primary_text_color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

main {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: desktop-vw(20px);
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}

// a {
//   color: $transparent;
//
//   &:hover {
//     color: $black;
//   }
//
//   &.active {
//     color: $black;
//   }
// }

img {
  max-width: 100%;
  height: auto;
}

.icon {
  font-size: 26px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  svg {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
}

.theme {
  &-light {
    background: #fff;
    color: #000;
  }

  &-dark {
    background: #000;
    color: #fff;
  }
}
