.home {
  padding-top: desktop-vw(128px) 0;
  flex-grow: 1;

  &-collection {
    text-align: center;
    padding: desktop-vw(40px) 0;
    position: relative;
    // line-height: 1;

    &:nth-child(odd) {
      background: $gray;
    }

    &-name {
      font-size: calc(var(--optical-adjustment, 1) * desktop-vw(120px));
      line-height: 0.9;
      @include minWidth(desktop) {
        // --size: 90px;
      }
    }

    &-new {
      position: absolute;
      text-transform: uppercase;
      background: #00a313;
      color: white;
      padding: desktop-vw(4px) desktop-vw(8px);
      border-radius: 20px;
      margin-left: 0;

      @include minWidth(desktop) {
        top: calc(32px * var(--optical-adjustment, 1));
      }
    }

    &-link {
      @include resetLink();
      color: $black;
      &:hover {
        color: var(--link_hover_color);
      }
    }
  }
}
