.store-modal {
  &__container {
    &__background {
      background: #ffffff05;
      backdrop-filter: blur(30px);
    }

    &__container {
      border: 1px black solid;
    }

    &__title {
      text-transform: uppercase;
    }
  }

  &__page__body {
    @media screen and (max-width: 430px) {
      padding-bottom: mobile-vw(50px);
    }
  }

  &__page__sticky-footer {
    @media screen and (max-width: 430px) {
      padding-bottom: mobile-vw(50px);
    }
  }

  &__index-item {
    &__name,
    &__label {
      text-transform: uppercase;
    }
    &__button {
      box-sizing: border-box;
      margin-bottom: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      border-top: black 1px solid;
      border-left: black 1px solid;
      border-right: black 1px solid;

      &:last-child {
        border-bottom: black 1px solid;
      }

      &:hover {
        .store-modal__index-item__buy {
          background: var(--link_hover_color);
          color: white;
        }
      }
    }

    &__text-container {
      padding: desktop-vw(36px);
    }

    &__buy {
      padding: desktop-vw(40px) desktop-vw(60px);
      margin-left: 0;
      height: auto;
      border-left: 1px black solid;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: desktop-vw(24px);
      text-transform: uppercase;
      @media screen and (max-width: 430px) {
        font-size: mobile-vw(24px);
      }
    }
  }
}
